APP_NAME=order-service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=order-db
DB_PORT=5432
DB_DATABASE=order_db
DB_USERNAME=app
DB_PASSWORD=secret

CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_HOST=redis

RABBITMQ_HOST=rabbitmq
